.gallery {
  background-color: white;
  padding: 15px;
}

.featured, .announcement {
  margin-bottom: 10px;
}

.filter-buttons {
  text-align: center;
}

.filter-buttons button {
  padding: 5px 16px;
  font-size: 20px;
  font-weight: lighter;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  /* max-height: 75vh;
  overflow-y: auto; */
  align-content: flex-start;
  border: 2px solid #74C2FF;
}

.gallery-item.hidden {
  display: none;
}

.gallery-item {
  height: 220px;
  transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}

.gallery-item:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 0 10px white;
}

.announcement {
  text-align: center;
}

.filter-buttons button.current {
  background-color: white;
  color: black;
  border: 2px solid #74C2FF;
}

/* mobile wip */
@media (max-width: 1000px) {
  .three-column-layout {
    flex-direction: column;
  }

  .gallery-item {
    height: 200px;
  }
}
